nav.navbar.navbar-expand-lg.navbar-light.bg-light
	.container-fluid
		button.btn.btn-dark.d-inline-block.d-lg-none.ml-auto(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
			i.fas.fa-align-justify
		#navbarSupportedContent.collapse.navbar-collapse
			ul.nav.navbar-nav.ml-auto
				li.nav-item.active
					a.nav-link(href='#') Page 1
				li.nav-item
					a.nav-link(href='#') Page 2
				li.nav-item
					a.nav-link(href='#') Page 3
				li.nav-item
					a.nav-link(href='#') Page 4