$baseColor: #304256;
$baseHoverColor: #dddddd;

#sidebar {
	min-width: 250px;
	max-width: 250px;
	min-height: 100%;
	background: $baseColor;
	color: $baseHoverColor;
	transition: all 0.3s;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
	color: $baseHoverColor;
	background: $baseColor;
}

#sidebar.active {
	margin-left: -250px;
}
#sidebar .sidebar-header {
	padding-top: 15px;
	background: $baseColor;
}

#sidebar ul.components {
	padding: 20px 0;
}

#sidebar ul p {
	color: $baseHoverColor;
	padding: 10px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.3em;
	display: block;
}

#sidebar ul li a:hover {
	color: $baseColor;
	background: $baseHoverColor;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
	color: $baseHoverColor;
	background: $baseColor;
}

ul ul a {
	font-size: 1.0em !important;
	padding-left: 30px !important;
	background: $baseColor;
}

a.article,
a.article:hover {
	background: $baseColor !important;
	color: $baseHoverColor !important;
}
a,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

img {
	width: 80%;
	height: 180px;
	border-radius: 20px;
}

#sysname {

	padding: 10px;

}