nav#sidebar
	.sidebar-header.text-center
		img.text-center(src="assets/chart.png")
		h3.text-center SPA - MG
		p#sysname.text-center Sistema de planejamento de atendimentos
	ul.list-unstyled.components
		li
			a.dropdown-toggle(href='#homeSubmenu', data-toggle='collapse', aria-expanded='false') Home
		ul#homeSubmenu.collapse.list-unstyled
			li
				a(href='#') Home 1
			li
				a(href='#') Home 2
			li
				a(href='#') Home 3
		li
			a(href='#') Sobre
		li
			a.dropdown-toggle(href='#pageSubmenu', data-toggle='collapse', aria-expanded='false') P치ginas
		ul#pageSubmenu.collapse.list-unstyled
			li
				a(href='#') P치gina 1
			li
				a(href='#') P치gina 2
			li
				a(href='#') P치gina 3
		li
			a(href='#') Contato
