
.card
	.card-body
		highcharts-chart([Highcharts]="Highcharts",
			[options]="chartOptions",
			style="width: 100%; height: 600px; display: block;",
			*ngIf="canLoad")

.card.mt-5
	.card-body
		table.table.table-hover.table-striped#datatable
			thead
				tr
					th Data
					th Demanda
					th Capacidade
					th Atendimento planejado
					th Atendimento realizado
					th Desvio
			tbody
				tr(*ngFor="let planejamento of planejamentos")
					td {{planejamento.data}}
					td {{planejamento.demanda}}
					td {{planejamento.capacidade}}
					td {{planejamento.atendimentoPlanejado}}
					td {{planejamento.atendimentoRealizado}}
					td {{planejamento.desvio}}

